# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
#*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#custom for flex
*.yy.c

#custom for bison
*.tab.c

#custom for antlr
*[lL]istener.*
*[lL]exer.*
*[pP]arser.*
*.interp
*.tokens
